<?xml version="1.0" encoding="utf-16"?>
<SettingsProvider xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/wpfCodeCheck.Domain.UseCases.Settings">
  <generalSetting>
    <_x003C_CompareType_x003E_k__BackingField>SW_CODE</_x003C_CompareType_x003E_k__BackingField>
    <_x003C_InputPath_x003E_k__BackingField>D:\Temp\TestCompare1</_x003C_InputPath_x003E_k__BackingField>
    <_x003C_OutputExcelFileName_x003E_k__BackingField>MPE_SW_Diff</_x003C_OutputExcelFileName_x003E_k__BackingField>
    <_x003C_OutputExcelPath_x003E_k__BackingField>D:\MvvmLib\CoreMvvm\Project\wpfCodeCheck\wpfCodeCheck\bin\Debug\net6.0-windows\EXPORT</_x003C_OutputExcelPath_x003E_k__BackingField>
    <_x003C_OutputPath_x003E_k__BackingField>D:\Temp\TestCompare2</_x003C_OutputPath_x003E_k__BackingField>
  </generalSetting>
  <windowSetting>
    <Height>1024.6666666666665</Height>
    <Width>1200</Width>
    <XPos>2878</XPos>
    <YPos>101.33333333333333</YPos>
  </windowSetting>
</SettingsProvider>